/*-----------------------------------------------------------------------
*
*   CSS name: Limbo archive frontend
*   Style the archive frontend pages
*
------------------------------------------------------------------------*/

/* Content
------------------------------------ */
.limbo .no-access,
.limbo .no-access h1,
.limbo .no-access p { text-align: center; }
.limbo .no-access h4 { font-weight: 300; }

.limbo .date { text-align: center; }

.limbo p>img { margin: 20px; }
.limbo .limbo-title, .limbo hr { clear: both; }

/* Custom fields
------------------------------------ */
.limbo dt {
    border-top: 1px solid #eee;
    padding: 9px;
    text-transform: capitalize;
    width: 260px;
}

.limbo dd {
    border-top: 1px solid #eee;
    color: #666;
    margin-left: 260px;
    padding: 10px;
}

